.home {
  width: 100vw;
  height: 100vh;
  background-color: pink;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h1 {
}
.planBigBox {
  width: 80vw;
  height: 80vw;
  max-width: 900px;
  max-height: 900px;
  border: 1px solid black;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1px;
  column-gap: 1px;
}
